@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  /* For Firefox. */
  * {
    scrollbar-width: none;
  }

  /* For WebKit (Chrome & Safari). */
  ::-webkit-scrollbar {
    display: none;
  }

}

.input {
  @apply p-2 border border-slate-600 w-full rounded bg-slate-800 text-gray-100
}

label {
  @apply text-lg text-gray-400
}

.loading {
  background: linear-gradient(90deg, #303030 25%, #242424 50%, #302e2e 75%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite ease-in-out;
  pointer-events: none;
  @apply absolute inset-0 z-10;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.error {
  @apply text-sm text-red-500
}

.syncAi {
  background: linear-gradient(45deg, #1b0fc4 4%, #c90b0b, #29b8ff);
  background-clip: text;
  color: transparent;
}

@keyframes fly {
  0% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  25% {
    transform: translateY(-10px) translateX(5px) rotate(2deg);
  }

  50% {
    transform: translateY(0px) translateX(0px) rotate(-2deg);
  }

  75% {
    transform: translateY(5px) translateX(-5px) rotate(1deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }
}

.animate-fly {
  animation: fly 6s ease-in-out infinite;
}

.glow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}